.App {
  text-align: center;
  background-color: #9446bb;
  min-height: 100vh;
}

.headertext {
  margin-bottom: 70px;
}

.App-header {
  
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.clicker {
  width: 80vw;
  max-width: 300px;
  border: 0;
  outline: none;
  font-size: 20px;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.canvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.video-react-video {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 10px #444;
}

.video-react-big-play-button {
  display: none;
}

.complete {
  margin-bottom: 0px;
  text-shadow: 2px 2px 10px #444;
}

.smalltext {
  text-align: center;
  font-size: 0.8em;
  margin: 10px 10vw;
}